include ReadMe.md
include requirements.txt
graft Flask_Marketplace/*
exclude Flask_Marketplace/*trash*
prune Flask_Marketplace/demo_data
prune Flask_Marketplace/*__pycache__
prune Flask_Marketplace/*/__pycache__