{% extends 'base.html' %}

{% block side_bar %}
<div class="btn-group">
  <button class="btn btn-secondary dropdown-toggle" type="button" id="triggerId" data-toggle="dropdown">
        Stores
  </button>
  <div class="dropdown-menu dropdown-menu-right" aria-labelledby="triggerId">
    <a class="dropdown-item" href="#">Action</a>
    <a class="dropdown-item disabled" href="#">Disabled action</a>
    <h6 class="dropdown-header">Section header</h6>
    <a class="dropdown-item" href="#">Action</a>
    <div class="dropdown-divider"></div>
    <a class="dropdown-item" href="#">After divider action</a>
  </div>
</div>
{% endblock side_bar %}

{% block main_page %}
<h2> Dashboard </h2>
{% endblock main_page %}

{% block bottom_styles_scripts%}
<script src='../static/shop/js/loadingoverlay.js'></script>
<script src='../static/shop/js/table_cart.js'></script>
{% endblock bottom_styles_scripts %}