{% extends 'base.html' %}

{% block main_page %}

<div class='form-inline mt-5'>
  <div class="col-12 col-sm-6 col-md-4 col-lg-3 mb-3">
    <div class="card">
      <img class="card-img-top" src="/static/shop/img/noimage.jpg" alt="">
    </div>
    <p class="card-title">Full Product Name</p>
    <p class="card-text font-weight-bold mt-n3"><span>NGN </span>768</p>
  </div>
  
  <div class="col-12 col-sm-6 col-md-4 col-lg-3 mb-3">
    <div class="card">
      <img class="card-img-top" src="/static/shop/img/noimage.jpg" alt="">
    </div>
    <p class="card-title">Full Product Name</p>
    <p class="card-text font-weight-bold mt-n3"><span>NGN </span>768</p>
  </div>
  
  <div class="col-12 col-sm-6 col-md-4 col-lg-3 mb-3">
    <div class="card">
      <img class="card-img-top" src="/static/shop/img/noimage.jpg" alt="">
    </div>
    <p class="card-title">Full Product Name</p>
    <p class="card-text font-weight-bold mt-n3"><span>NGN </span>768</p>
  </div>
  
  <div class="col-12 col-sm-6 col-md-4 col-lg-3 mb-3">
    <div class="card">
      <img class="card-img-top" src="/static/shop/img/noimage.jpg" alt="">
    </div>
    <p class="card-title">Full Product Name</p>
    <p class="card-text font-weight-bold mt-n3"><span>NGN </span>768</p>
  </div>
  
  <div class="col-12 col-sm-6 col-md-4 col-lg-3 mb-3">
    <div class="card">
      <img class="card-img-top" src="/static/shop/img/noimage.jpg" alt="">
    </div>
    <p class="card-title">Full Product Name</p>
    <p class="card-text font-weight-bold mt-n3"><span>NGN </span>768</p>
  </div>
  <div class="col-12 col-sm-6 col-md-4 col-lg-3 mb-3">
    <div class="card">
      <img class="card-img-top" src="/static/shop/img/noimage.jpg" alt="">
    </div>
    <p class="card-title">Full Product Name</p>
    <p class="card-text font-weight-bold mt-n3"><span>NGN </span>768</p>
  </div>
  
  <div class="col-12 col-sm-6 col-md-4 col-lg-3 mb-3">
    <div class="card">
      <img class="card-img-top" src="/static/shop/img/noimage.jpg" alt="">
    </div>
    <p class="card-title">Full Product Name</p>
    <p class="card-text font-weight-bold mt-n3"><span>NGN </span>768</p>
  </div>
  
  <div class="col-12 col-sm-6 col-md-4 col-lg-3 mb-3">
    <div class="card">
      <img class="card-img-top" src="/static/shop/img/noimage.jpg" alt="">
    </div>
    <p class="card-title">Full Product Name</p>
    <p class="card-text font-weight-bold mt-n3"><span>NGN </span>768</p>
  </div>
  
  <div class="col-12 col-sm-6 col-md-4 col-lg-3 mb-3">
    <div class="card">
      <img class="card-img-top" src="/static/shop/img/noimage.jpg" alt="">
    </div>
    <p class="card-title">Full Product Name</p>
    <p class="card-text font-weight-bold mt-n3"><span>NGN </span>768</p>
  </div>
  
  <div class="col-12 col-sm-6 col-md-4 col-lg-3 mb-3">
    <div class="card">
      <img class="card-img-top" src="/static/shop/img/noimage.jpg" alt="">
    </div>
    <p class="card-title">Full Product Name</p>
    <p class="card-text font-weight-bold mt-n3"><span>NGN </span>768</p>
  </div>
  
  
  
</div>
{% endblock main_page %}

{% block bottom_styles_scripts%}
<script src='../static/shop/loadingoverlay.js'></script>
<script src="../static/shop/table_cart.js"></script>
{% endblock bottom_styles_scripts %}