{% extends 'base.html' %}

{% block side_bar %}
<div class="btn-group col-12 pb-3 pt-3">
  <a class="btn btn-secondary text-white" href="{{url_for('shop.dashboard')}}">
    Profile </a>
</div>

<div class="btn-group col-12">
  <button class="btn btn-secondary dropdown-toggle" type="button" id="store_dd" data-toggle="dropdown">
    Stores
  </button>
  <div class="dropdown-menu dropdown-menu-right" aria-labelledby="store_dd">
    {% if current_user.stores %}
    {% for store in current_user.stores %}
    <a class="dropdown-item"  href="{{url_for('shop.store_admin', store_name=store.name)}}">{{ store.name }}</a>
    {% endfor %}
    {% else %}
    <span class="dropdown-item disabled">No store</span>
    {% endif %}
    <div class="dropdown-divider"></div>
    <a class="dropdown-item text-center bg-warning" href="{{url_for('shop.store_new')}}">Add store</a>
  </div>
</div>
{% endblock side_bar %}

{% block main_page %}
<h2> Dashboard </h2>

{% block field_page %}
{% from 'shop_module/custom_macro.html' import render_field_with_errors, render_field_btn %}
<h5 class='text-center'>{{ current_user.name }}</h5>
<div class="row">
  <div class="form-group col-12 mt-5">
    <fieldset disabled id='profile_form'>
      <form method='POST' enctype='multipart/form-data'>
        {{ profile_form.hidden_tag() }}
        <div class='form-group col-12'>
          {{ render_field_with_errors(profile_form.name) }}
          {{ render_field_with_errors(profile_form.email) }}
        </div>
        <div class='d-none' id='profile_submit'>
          {{ render_field_btn(profile_form.save) }}
        </div>
      </form>
    </fieldset>
    <div>
      <button type="button" id="edit_profile"
        class="btn btn-secondary m-4">Edit</button>
    </div>
  </div>
</div>
{% endblock field_page %}

{% endblock main_page %}

{% block bottom_styles_scripts%}
<script>
  $(function () {
    $('#edit_profile').click(function () {
      $('#profile_form').removeAttr('disabled');
      $('#profile_submit').removeClass('d-none');
      $(this).addClass('d-none')
    });
  });
</script>
{% endblock bottom_styles_scripts %}