{% extends 'shop_module/dashboard.html' %}
{% block field_page %}

{% from 'shop_module/custom_macro.html' import render_field_with_errors,
render_field_btn, render_field_check %}
<h5 class='text-center'>Product Detail</h5>
<div class="row">
  <div class="form-group col-12 mt-5">
    <fieldset disabled id='product_form'>
      <form method='POST' enctype='multipart/form-data'>
        {{ product_form.hidden_tag() }}
        <div class='form-group col-12'>
          {{ render_field_with_errors(product_form.name) }}
          {{ render_field_with_errors(product_form.description) }}
          <small> Sales price in {{currency}}</small>
          {{ render_field_with_errors(product_form.price) }}
          {{ render_field_with_errors(product_form.image) }}
          {{ render_field_check(product_form.is_active) }}
        </div>
        <div class='d-none' id='product_submit'>
          {{ render_field_btn(product_form.save) }}
        </div>
      </form>
    </fieldset>
    <div>
      <button type="button" id="edit_product" class="btn btn-secondary m-4">
        Edit</button>
    </div>
  </div>
</div>
{% endblock field_page %}
{% block bottom_styles_scripts%}
<script>
  $(function () {
    $('#edit_product').click(function () {
      $('#product_form').removeAttr('disabled');
      $('#product_submit').removeClass('d-none');
      $(this).addClass('d-none')
    });
  });
</script>
{% endblock bottom_styles_scripts %}