{% extends 'shop_module/dashboard.html' %}
{% block field_page %}

{% from 'shop_module/custom_macro.html' import render_field_with_errors, render_field_btn %}
<h5 class='text-center'> Store Details
  {% if activated %}
  <a  class="btn btn-sm btn-secondary" href="{{ url_for('shop.store_product', store_name=store_form.name.data) }}">
    View Products
  </a>
  <a class="btn btn-sm btn-secondary" href="{{ url_for('shop.store_product_admin', store_name=store_form.name.data) }}">
    Add New Product
  </a>
  {% else %}
  <small class='text-info'>Attach a valid to start adding products</small>
  {% endif %}
</h5>
<div class="row">
  <div class="form-group col-md-6 mt-5">
    <fieldset disabled id='store_set'>
      <form method='POST' enctype='multipart/form-data'>
        {{ store_form.hidden_tag() }}
        <div class='form-group col-12'>
          {{ render_field_with_errors(store_form.name) }}
          {{ render_field_with_errors(store_form.about) }}
          {% if config.MULTICURRENCY %}
          {{ render_field_with_errors(store_form.iso_code) }}
          {% endif %}
          {{ render_field_with_errors(store_form.phone) }}
          {{ render_field_with_errors(store_form.email) }}
          {{ render_field_with_errors(store_form.logo) }}
        </div>
        <div class='d-none' id='store_submit'>
          {{ render_field_btn(store_form.save) }}
        </div>
      </form>
    </fieldset>
    <div>
      <button type="button" id="edit_store"
        class="btn btn-secondary m-4">Edit</button>
    </div>
  </div>

  <div class="form-group col-md-6 mt-5">
    <fieldset disabled id='account_set'>
      <form method='POST'>
        {{ account_form.hidden_tag() }}
        <div class='form-group col-12'>
          {{ render_field_with_errors(account_form.account_num) }}
          {{ render_field_with_errors(account_form.bank) }}
        </div>

        <div class='text-right d-none' id='account_submit'>
          {{ render_field_btn(account_form.save) }}
        </div>
      </form>
    </fieldset>
    <div class='text-right'>
      <button type="button" id="edit_account"
        class="btn btn-secondary m-4">Edit</button>
    </div>
  </div>
</div>
{% endblock field_page %}
{% block bottom_styles_scripts%}
<script>
  $(function () {
    $('#edit_store').click(function () {
      $('#store_set').removeAttr('disabled');
      $('#store_submit').removeClass('d-none');
      $(this).addClass('d-none')
    });
    $('#edit_account').click(function () {
      $('#account_set').removeAttr('disabled');
      $('#account_submit').removeClass('d-none');
      $(this).addClass('d-none')
    });
  });
</script>
<link rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.1/css/bootstrap-select.min.css" />
<script src="{{ url_for('static', filename='base/js/bootstrap-select-1.13.1.js') }}"></script>
{% endblock bottom_styles_scripts %}