{% extends 'base.html' %}

{% block main_page %}
<h2> Checkout </h2>
{% if cart %}
<form class="col-12">
  <div class='pb-2'>
    <label>Delivery Address</label>
    <textarea class='form-control' name='' id='' rows='3' required
      placeholder='Provide us the address you want us to deliver to'></textarea>
  </div>
  <div class="form-group">
    <label for="">Phone Number: </label>
    <input type="text" name="" id="" class="form-control" placeholder="">
  </div>
</form>

<div class='col-12'>
  Summary of Order
  <div class='jumbotron jumbotron-fluid'>
    <div class='container'>
      <h1 class='display-3'>Fluid jumbo heading</h1>
      <p class='lead'>Jumbo helper text</p>
      <hr class='my-2'>
      <p>More info</p>
      <p class='lead'>
        <a class='btn btn-primary btn-lg' href='Jumbo action link' role='button'>Jumbo action name</a>
      </p>
      <table id="cart_table" class="display table table-striped table table-responsive mt-3">
        <thead>
          <tr>
            <th class="" style="max-width: 20px;">No.</th>
            <th class="d-none">Id</th>
            <th class="col-lg-6 col-sm-4">Item</th>
            <th class="col-lg-2 col-sm-2">Qty</th>
            <th class="col-lg-2 col-sm-2">Unit Price</th>
            <th class="col-lg-1 col-sm-2">Amount</th>
          </tr>
        </thead>
        <tbody>
          {% for line in cart %}
            <tr>
              <td class="s_n align-middle"></td>
              <td class='align-middle d-none'>{{ line.id }}</td>
              <td class='align-middle'>{{ line.product.name }}</td>
              <td class='align-middle'>
                <input type="number" min='1' class='form-control qty' value={{line.qty}} readonly>
              </td>
              <td class='align-middle'>{{ line.product.sale_price(cart[0].order.iso_code) }}</td>
              <td class="line_amt align-middle"></td>
            </tr>
          {% endfor %}
          <!-- Area will be populated when shoping-->
        </tbody>
      </table>
    </div>
  </div>
</div>
{% endif %}
{% endblock main_page %}

{% block bottom_styles_scripts%}
<script src='../static/shop/loadingoverlay.js'></script>
<script src="../static/shop/table_cart.js"></script>
{% endblock bottom_styles_scripts %}