<!-- Filtering form : Performs ajax request to update the session data -->
<form class="" method="POST">
  <div class="form-inline">
    <div class="input-group col-12 col-md-8 col-lg-10 pb-2">
      <div class="input-group-prepend">
        <span class="input-group-text">
          <i class="fa fa-search" aria-hidden="true"></i>
        </span>
      </div>
      <input type="search" class="form-control" placeholder="Search for product, stores ..."
        id="query_param" required>
    </div>
    <button class="btn btn-md btn-primary d-none col-md-8 col-lg-10 " type="submit" value="Submit"></button>
  </div>
</form>